<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/img/favicon.ico">

    <title>Redirecionamento | Dropshipping | Sem Impostos | Estados Unidos | Paraguai | RedirecioneBr</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/search-v2.css" rel="stylesheet">

    <link href="/css/default-color.css" rel="stylesheet">

  </head>

  <body>

    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">Sobre nós</h4>
              <p class="text-muted">Nosso serviço é trazer uma facilidade para
                revendedores no Brasil, com opçoes de estoque dos Estados Unidos, China e Paraguai.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contato</h4>
              <ul class="list-unstyled">
                <li><a href="#" class="text-white">Curta nossa no Facebook</a></li>
                <li><a href="#" class="text-white">Dúvidas, Sugestões ou Reclamações?</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <div class="media logo">
            <img src="/img/logo-redirecionebr.png" alt="RedirecioneBR" width="100%">
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Suas compras dos <strong>Estados Unidos</strong> e <strong>Paraguai</strong></h1>
          <p class="lead text-muted">
            para o <strong>Brasil</strong> sem taxas alfandegárias! Atacado e Varejo!
          </p>
          <div class="">
            <form action="/busca" class="form-inline text-center">
              <input
              type="text"
              class="form-control form-control-lg input-search"
              name="q"
              placeholder="Qual produto?"
              value="<%= query %>">
              <button type="submit" class="btn btn-primary btn-search">
                <span class="icon-search"></span>
              </button>
            </form>
            <div class="row">
              <% if (resultado !== '' && resultado.length > 0) { %>
                <div class="col-xs-12 col-sm-12 col-lg-8 offset-lg-2">
                  <p class="tipBuyMobile alert alert-primary text-center mt-2 mb-2">
                    Clique em um dos itens abaixo para fazer o pedido do mesmo!
                  </p>
                  <div class="list-group mt-2">
                    <% resultado.forEach(function(resul){ %>
                      <a
                      href="#"
                      class="list-group-item list-group-item-action"
                      data-toggle="modal"
                      data-target="#buyModal">
                      <span class="media photo_product">
                        <img src="<%= resul.photo_product %>" alt="">
                      </span>
                      <span>
                        <%= resul.name_product %><br />
                        <span class="price_product"><%= resul.price_product %></span>
                      </span>
                      <span class="tipBuy">Clique para fazer o pedido desse produto!</span>
                    </a>
                    <% }); %>
                  </div>
                </div>
              <% } else if(q) {%>
                <div class="col-xs-12 col-md-8 offset-md-2">
                  <div class="list-group mt-2">
                    <p class="list-group-item text-center">Ops! Desculpe, não encontramos resultados para <strong>"<%= q %>"</strong>.</p>
                  </div>
                </div>
              <% } %>
            </div>
          </div>
          <div class="mt-3">
            <a href="https://import-app-teste.herokuapp.com/"
              class="btn btn-outline-primary col-xs-12 col-sm-12 col-lg-8 btn-redirect-usa"
              target="_blank">
              <span class="icon-calculator"></span>
              <span class="text-btn-redirect-usa">
                Calcular redirecionamento dos Estados Unidos!
              </span>
            </a>
          </div>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="/img/pdp/apple-iphone-8-64gb.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text"><strong>Iphone 8 64Gb</strong><br />
                    Design inovador, totalmente em vidro. A câmera que o mundo inteiro adora, ainda melhor. O chip mais poderoso e inteligente em qualquer smartphone.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-primary">Comprar</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="/img/pdp/sony-playstation-4-pro.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">
                    <strong>Console Playstation 4 Pro - 1Tb</strong><br />
                    Jogos em 4K dinâmico e entretenimento em 4K. O PS4 Pro deixa o seu jogo mais perto de você. Os mundos dos jogos ganham vida!
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-primary">Comprar</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="/img/pdp/212-sexy-vip.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">
                    <strong>Perfume Carolina Herrera 212 Sexy Feminino</strong><br />
                    212 Sexy tem o mesmo espírito cosmopolita que a mulher 212, mas transmite uma aura mais sensual.
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-primary">Comprar</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </main>

    <footer class="text-muted">
      <div class="container">
        <p>&copy; RedirecioneBR</p>
        <p>Visite nossa Fan Page no Facebook <a href="https://www.facebook.com/">RedirecioneBR</a>.</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="https://getbootstrap.com/assets/js/vendor/holder.min.js"></script>
  </body>
</html>
